Repository acti0nit/todolist, changes with the labels that .github/labeler.yml gives for each.
All labels: source, action, tests, automation, docs

fix: correct syntax for ci
  .github/workflows/ci-test.yml
  .github/workflows/codeql.yml
  .github/workflows/dist.yml
  .github/workflows/test.yml
Labels: automation

fix: generate new dist
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
Labels: source

fix npm ci rights
  .github/workflows/test.yml
Labels: automation

fix
  .github/workflows/test.yml
Labels: automation

fix
  .github/workflows/test.yml
Labels: automation

fix
  .github/workflows/ci-test.yml
Labels: automation

fix: ci pipeline (#14)
  .github/workflows/ci-test.yml
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
Labels: source, automation

refactor: github workflows
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-test.yml
  dist/index.js
  dist/index.js.map
  package.json
Labels: source, automation

fix
  .github/workflows/test.yml
Labels: automation

refactor: github workflows (#15)
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-test.yml
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  package.json
Labels: source, automation

feat(core): add dry-run mode
  .github/workflows/test.yml
  action.yml
  package-lock.json
  src/main.ts
Labels: source, action, automation

fix(build): lint and package
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: source

rf(config): move todo list in new default place
  .github/TODO.md
Labels: none

fix(build): add new dist
  dist/index.js
  dist/index.js.map
Labels: source

fix(build): add new dist
  dist/index.js
  dist/index.js.map
Labels: source

fix(build): add new dist
  dist/index.js
  dist/index.js.map
Labels: source

fix(build): add new dist
  dist/index.js
  dist/index.js.map
Labels: source

fix(build): build single file from js files
  CODEOWNERS
  dist/index.js
  dist/index.js.map
  package.json
Labels: source

fix(core): trim file content
  __tests__/util.test.ts
  __tests__/wait.test.ts
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source

fix(core): trim file content (#35)
  __tests__/util.test.ts
  __tests__/wait.test.ts
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source

fix(ci): stop gracefully if no token in dry run
  src/main.ts
Labels: source

fix(build): add new dist
  dist/index.js
  dist/index.js.map
Labels: source

fix(cd): add permissions for codeql workflow
  .github/workflows/ci-security.yml
Labels: automation

fix(cd): add security trigger on each main branch commit
  .github/workflows/ci-security.yml
Labels: automation

feat(core): create todo only from comments
  .github/TODO.md
Labels: none

rf(core): get commit for changes
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source

compare commits
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source

oneline stringify
  src/main.ts
Labels: source

debug
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
Labels: source

debug
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: source

debug
  .github/TODO.md
  __tests__/util.test.ts
  dist/index.js
  dist/index.js.map
  package-lock.json
  src/util.ts
Labels: source

debug
  __tests__/util.test.ts
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source

debug
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
Labels: source

debug
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
Labels: source

debug
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: source

.github/labeler.yml:

source:
  - src/**/*
  - dist/**/*
action:
  - action.yml
tests:
  - tests/**/*
automation:
  - .github/workflows/*
docs:
  - '*.md'
