Repository acti0nit/todolist, changes with the labels that .github/labeler.yml gives for each.
All labels: source, action, tests, automation, docs

add action create issue
  src/main.ts
Labels: source

debug
  src/main.ts
Labels: source

debug
  dist/index.js
  dist/index.js.map
Labels: source

debug
  .github/workflows/ci-security.yml
Labels: automation

feat(core): create todo only from comments (#39)
  .github/TODO.md
  .github/workflows/ci-security.yml
  __tests__/util.test.ts
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/util.ts
Labels: source, automation

feat(cd): add todo CD to repository
  .github/TODO.md
  .github/workflows/cd-todo.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Labels: source, automation

remove todo
  .github/TODO.md
Labels: none

add todo
  .github/TODO.md
Labels: none

fix(core): parse correctly boolean
  .github/TODO.md
  src/main.ts
Labels: source

add todo
  .github/TODO.md
  dist/index.js
  dist/index.js.map
Labels: source

test
  .github/workflows/ci-test.yml
  .github/workflows/test.yml
Labels: automation

feat(lint): add super linter
  .cspell.json
  .eslintrc.json
  .github/TODO.md
  .github/workflows/cd-publish.yml
  .github/workflows/cd-todo.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-test.yml
  .github/workflows/codeql.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
  README.md
  __tests__/util.test.ts
  action.yml
  dist/index.js
  dist/sourcemap-register.js
  jest.config.js
  src/main.ts
  src/util.ts
  tsconfig.json
Labels: source, action, automation, docs

.github/labeler.yml:

source:
  - src/**/*
  - dist/**/*
action:
  - action.yml
tests:
  - tests/**/*
automation:
  - .github/workflows/*
docs:
  - '*.md'
